.loginPage {
  /* background: linear-gradient(
    45deg,
    #143345,
    #224557,
    #227798,
    #2594b5,
    #245066,
    #22617c,
    #227798,
    #224557,
    #143345
  );
  background-size: 1200% 1200%; */
  /* background-color: #143345; */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
  url('../assets/images/box.svg'); */
  background-image: url('../assets/images/login_bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* animation: gradientAnimation 12s ease infinite; */
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
  @apply p-4 lg:p-40 xl:p-40 2xl:p-40;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.loginInfoSection {
  background-image: 
    url('../assets/images/bubbles.svg');
}
.loginFormSection {
  background-image: url('../assets/images/login_form.svg');
  @apply bg-auto bg-no-repeat bg-center shadow-lg h-full;
}
