.loginPage {
  background-image: url('../assets/images/login_bg.svg');
  @apply h-screen w-screen p-0 bg-no-repeat bg-center bg-cover !mx-auto lg:!pb-40 lg:!pl-40 lg:!pr-40;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.loginInfoSection {
  background-image: url('../assets/images/bubbles.svg');
}
.loginFormSection {
  background-image: url('../assets/images/login_form.svg');
  @apply bg-auto bg-no-repeat bg-right lg:bg-center xl:bg-center 2xl:bg-center shadow-lg h-full;
}

.visibilityToggle {
  color: white;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active{
  /*-webkit-box-shadow: 0 0 0 30px transparent inset !important;*/
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active{
  -webkit-background-clip: text;
  -webkit-text-fill-color: white;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

