@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bgColor: #f4f4f4;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    background-color: var(--bgColor);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --brand-primary: #224557;
    --brand-secondary: #6c757d;
    --brand-success: #28a745;
    --brand-warning: #ffc107;
    --brand-danger: #dc3545;
}

html {
    scroll-behavior: smooth;
    height: 100vh;
    width: 100vw;
    height: 100dvh;
    width: 100dvw;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    height: 100dvh;
    width: 100dvw;
}

html,
body {
    scroll-behavior: smooth;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0; /* Track color */
    border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid #f0f0f0; /* Optional: Adds padding between thumb and track */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Thumb color on hover */
}

* {
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
}

body.dark-mode ::-webkit-scrollbar-thumb {
    background-color: #444;
}

body.dark-mode ::-webkit-scrollbar-thumb:hover {
    background-color: #222;
}

.fc-timegrid-axis-frame.fc-scrollgrid-shrink-frame.fc-timegrid-axis-frame-liquid {
    @apply flex w-full items-center justify-center;
}

.fc .fc-timegrid-axis-cushion {
    padding: 0px 10px;
    @apply text-sm text-gray-500;
}

.fc-v-event {
    @apply bg-tb-900 text-white border border-solid border-tb-900;
}

.react-pdf__Page__canvas {
    max-height: 634px;
    width: 100% !important;
}

.swiper-pagination {
    @apply flex flex-col gap-4 bg-tb-50 py-4 rounded-full border-solid px-1;
}